Flask>=2.0
Flask-Session>=0.8.0
spotipy==2.23.0
pygame==2.6.1
requests==2.32.3
beautifulsoup4==4.13.3
python-dotenv==1.0.1
lyricsgenius==3.2.0
jaconv==0.4.0
pykakasi==2.3.0
aiohttp==3.11.12
celery==5.5.2
redis==5.2.1
Flask-Caching>=2.0
gunicorn>=21.2.0
eventlet>=0.35.1
pytest>=8.2.0
yt-dlp>=2024.4.9
sudachipy>=0.6.8
sudachidict-core>=2023.1
msgpack>=1.1.0
deep-translator>=1.11.4